@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "placeholder-loading/src/scss/placeholder-loading";

$mercadolibre-yellow: #fff159;

.bg-yellow-primary {
    background-color: $mercadolibre-yellow;
}

.text-yellow-primary {
    color: $mercadolibre-yellow;
}

.border-yellow-primary {
    border-color: $mercadolibre-yellow;
}

.chevron.inverse {
    transform: rotateZ(180deg);
}

@responsive {
    .w-30-percent {
        width: 30%;
    }

    .w-44-percent {
        width: 44%;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}